<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="utf-8">
        <title>gote</title>
    </head>
    <body>
        <main class="main">
            <form method="post" action="/login">
                <input type="text" name="name" placeholder="Your name">
                <input type="password" name="password" placeholder="Password">
                <button type="submit">Sign in</button>
            </form>
        </main>
    </body>

</html>